<h1>Hooray Computers!</h1>

<% elements.forEach(e => { %>
    <div class="products">
        <div class="prod-left">
            <h2 class="product-class"><%= e.class %></h2>
            <img src="<%= e.image %>" alt="item-image">
        </div>
        <div class="prod-right">
            <h1 class="product-name"><%= e.name %></h1>
            <h2><%= e.salePrice %></h2>
            <p class="product-description"><%= e.shortDescription %></p>
        </div>    
    </div>
    <div class="item-interact">
        <form action="/computers" method="POST">
            <input type="hidden" name="sku" value="<%= e.sku %>">
            <input type="hidden" name="name" value="<%= e.name %>">
            <input type="hidden" name="price" value="<%= e.salePrice %>">
            <input type="submit" value="MY ITEMS">
        </form> 

        <form action="/wishList" method="POST">
            <input type="hidden" name="sku" value="<%= e.sku %>">
            <input type="hidden" name="name" value="<%= e.name %>">
            <input type="hidden" name="price" value="<%= e.salePrice %>">
            <input type="submit" value="ADD TO WISHLIST">
        </form> 
    </div>
    <hr>
<% }) %>