<h2>PROFILE - page</h2>
<div>
    
    <div>
        <form action="" method="POST">
            <label for="update-profilePic">Update your Profile Picture URL</label>
            <input id="update-profilePic" type="text">
            <input type="submit">
        </form>

        <img src="<%= user.profile %>" alt="user profile pic">
    </div>
    <div>
        <strong>Name:</strong><%= user.firstname %> <%= user.lastname %> 
        <p>
            <strong>Admin:</strong><%= user.admin ? 'Yes' : 'No' %>
        </p>
    </div>
    <div>
        <%= user.bio %>
    </div>
    <div>
        
    </div>
</div>