<% elements.forEach(e => { %>
<div class="products">
  <div class="prod-left">
    <img src="<%= e.image %>" alt="item-image" />
  </div>
  <div class="prod-right">
    <h1 class="product-name"><%= e.name %></h1>
    <h2><%= e.salePrice %></h2>
    <p class="product-description"><%= e.shortDescription %></p>
    <div class="item-interact">
      <form action="/myItems" method="POST">
        <input type="hidden" name="sku" value="<%= e.sku %>" />
        <input type="hidden" name="name" value="<%= e.name %>" />
        <input type="hidden" name="price" value="<%= e.salePrice %>" />
        <label for="comment">If you own this item and would like to leave a comment, insert below (Limit 255 characters)</label>
        <input id="comment" type="text" name="comment">
        <input type="submit" value="ADD TO MY ITEMS" />
      </form>

      <form action="/wishList" method="POST">
        <input type="hidden" name="sku" value="<%= e.sku %>" />
        <input type="hidden" name="name" value="<%= e.name %>" />
        <input type="hidden" name="price" value="<%= e.salePrice %>" />
        <input type="submit" value="ADD TO WISHLIST" />
      </form>

      <form action="computers/view" method="POST">
        <input type="hidden" value="<%= e.sku %>" name="sku">
        <input type="submit" value="See who owns this product!">
      </form>
    </div>
  </div>
</div>

<hr />
<% }) %>
